.navbar {
    background-color: #17c56e;
}

.quem-somos {
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #c0dd1a;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.bg-footer {
    background-color: #000;
    color: #fff;
    
}